{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Register Proface</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/nunito-font.css' %}">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="{% static 'home/style.css' %}"/>
	<style>
		@import url('https://smc.org.in/fonts/meera.css'); body { font-family: 'Meera', sans-serif; } 
	   </style>
</head>
<body class="form-v6">
	<div class="page-content">
		
		<div class="form-v6-content">
			
			<div class="form-left"><br><br><br><br><br><br>
				<img src="{% static 'home/images/Proface.png' %} " alt="form">
			</div>
			
			<form class="form-detail" method="post">
                {% csrf_token %}
                <div style="align-items: center;">
				<h2>PAY REGISTRATION FEE</h2>
				<p class="font" style="color: black;">ഒരു ഫാമിലിക്ക് 800 രൂപ.<br>സാമ്പത്തിക പ്രയാസമുള്ളവർ സാധിക്കുന്ന സംഖ്യ നൽകുക.
					കൂടുതൽ തുക നൽകാൻ കഴിയുന്നവർ സഹായിക്കുമല്ലോ</p>
                    <a href="upi://pay?pa=wisdomislamiorganzization@sbi&amp;pn=PROFACE TEAM&amp;cu=INR" class="upi-pay1">  
                    <input type="button" name="next" class="register2" value="CLICK FOR PAYMENT"></a>
				<p style="color: black;">THE ABOVE FACILITY WILL WORK FOR ANDROID MOBILE USERS<br>
				PAYMENT FROM IOS AND LAPTOP ARE REQUESTED TO DIRECT BANK TRANSFER<br>
				BANK DETIALS:<br>
				ACCOUNT NUMBER: <br>
				IFSC CODE: <br>
				BANK:<br>
				BRANCH: <br>
				ACCOUNT TYPE: </p></div>
                <br>
                <input type="submit" name="next" class="register" value="next">
                </form>
				</div>
                </div>
    </body>
    </html>