
{% load static %}

<html>
<head>
	<meta charset="utf-8">
	<title>Register Proface</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/nunito-font.css' %}">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="{% static 'home/style.css' %}"/>
</head>
<body class="form-v6">
	<div class="page-content">
		<div class="form-v6-content">
			<div class="form-left">
				<img src="{% static 'home/images/Proface.png' %} " alt="form">
			</div>
			<form class="form-detail" action="/" method="post">
                {% csrf_token %}
				<h2>Register Proface</h2>
				<div class="form-row">
					<input type="text" name="fname" id="user_name" class="input-text" placeholder="Full name" required>
				</div>
				<div class="form-row">
					<input type="text" name="uname" id="user_name" class="input-text" placeholder="Phone Number" required>
				</div>
                <div class="form-row">
					<input type="text" name="email" id="e_mail" class="input-text" placeholder="Email Address" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
				</div>
				<div class="form-row">
					<input type="text" id="phone_number" name="job" class="input-text" placeholder="Profession ">
					<!-- <input type="number" name="phone_number" id="phone_number" class="input-text" placeholder="Phone Number" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}"> -->
				</div>
				
					<div class="form-row" style="margin-bottom: 20px">
						<h3 style="color: rgb(51, 51, 51);
						font-size: 18px;
						text-align:left;
						position: relative;
						padding: 0px 0 0;
						">District / City
						<select type="checkbox" name="district" id="district" class="input-choice" style="position:relative;
						z-index: 100;
						width: 250px;
						height: 34px;
						border: 1px solid #000;" >
							<option value="Thiruvananthapuram">Thiruvananthapuram</option>
							<option value="Kollam">Kollam</option>
							<option value="Pathanamthitta">Pathanamthitta</option>
							
							<option value="Alappuzha">Alappuzha</option>
							<option value="Kottayam">Kottayam</option>
							<option value="Idukki">Idukki</option>
							<option value="Ernakulam">Ernakulam</option>
							<option value="Thrissur">Thrissur</option>
							<option value="Palakkad">Palakkad</option>
							<option value="Malappuram North">Malappuram North (Malappuram-manjery)</option>
							<option value="Malappuram East">Malappuram East (perithalmanna-nilamboor)</option>
							<option value="Malappuram West">Malappuram West (university-kottakkal-ponnani)</option>
							<option value="Kozhikode North ">Kozhikode North (Vadakara-koilandi-balussery)</option>
							<option value="Kozhikode South ">Kozhikode South (Farook- calicut city-mukkam)</option>
							<option value="Wayanad">Wayanad</option>
							<option value="Kannur">Kannur</option>
							<option value="Kasargod">Kasargod</option>
							<option value="Banglore">Banglore</option>
							<option value="Manglore">Manglore</option>
							<option value="Chennai">Chennai</option>
							<option value="Hyderabad">Hyderabad</option>
							<option value="Other">Other</option>
							</select></h3>
					</div>
			
					<!-- <input type="number" name="phone_number" id="phone_number" class="input-text" placeholder="Phone Number" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}"> -->
				
				<div class="form-row">
					<input type="text" id="phone_number" name="place" class="input-text" placeholder="Location" required>
					<!-- <input type="number" name="phone_number" id="phone_number" class="input-text" placeholder="Phone Number" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}"> -->
				</div>
				<div class="form-row">
					<input type="tel" id="phone_number" name="age" class="input-text" placeholder="Your Age" required>
					<!-- <input type="number" name="phone_number" id="phone_number" class="input-text" placeholder="Phone Number" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}"> -->
				</div>

				<div style="margin-bottom: 20px">
					<h3 style="color: rgb(51, 51, 51);
					font-size: 18px;
					text-align:left;
					position: relative;
					padding: 6px 0 0;
					">Marital Status
					<select type="checkbox" name="marital_status" id="marital_status" class="input-choice" style="position:relative;
					z-index: 100;
					width: 168px;
					height: 34px;
					border: 1px solid #000;" >
						<option value="MARRIED">Married</option>
						<option value="SINGLE">Single</option>
						</select></h3>
				</div>
		
				    <div class="form-row-last">
					    <input type="submit" name="register" class="register" value="Register">
				    </div>
					
			</form>
			
		</div>
		<div>
			{% for message in messages %}
			<h2 style="color: aliceblue;">{{message}}</h2>
			{% endfor %}
		</div>  
	</div>
	
</body>
</html>