{% extends 'home/base.html' %}

{% block content %}
			<form class="form-detail" action="spouse" method="post">
                {% csrf_token %}
				<h2>Be with the partner always</h2>
				
				<div class="form-row">
					<input type="text" name="nm" id="spouse_name" class="input-text" placeholder="Spouse Name">
				</div>
				<div class="form-row">
				<input type="tel" id="spouse_phone" name="ph" class="input-text" placeholder="Spouse Phone Number" pattern="^\d{10}$">
				</div>
				<div class="form-row">
					<input type="text" name="pro" id="spouse_profession" class="input-text" placeholder="Spouse Profession">
				</div>
				<div class="form-row">
					<input type="text" name="age" id="spouse_age" class="input-text" placeholder="Spouse Age" >
				</div>
				<div class="form-row">
					<input type="tel" name="children" id="children_number" class="input-text" placeholder="Number of children" >
				</div>
			
				<div class="form-row-last">
					
				<input type="submit" name="next" class="register" value="next">
				</div>
					
			</form>
			
		</div>
		<div>
			{% for message in messages %}
			<h2 style="color: aliceblue;">{{message}}</h2>
			{% endfor %}
		</div>  
	</div>
	
</body>
{% endblock %}