{% extends 'home/base.html' %}

{% block content %}
			
			<form class="form-detail" action="child" method="post">
                {% csrf_token %}
				<h2>Children Details</h2>
		
				
				<div class="form-row">
					<input type="text" name="nm" id="name" class="input-text" placeholder="Name">
				</div>
			
				<div class="form-row">
					<input type="text" name="age" id="age" class="input-text" placeholder="Age" >
				</div>
	
				<div class="form-row-last">
					
				
				<div style="margin-bottom: 20px">
					<h3 style="color: rgb(51, 51, 51);
					font-size: 18px;
					text-align:left;
					position: relative;
					padding: 6px 0 0;
					">Register another child
					<select type="checkbox" name="kidreg" id="marital_status" class="input-choice" style="position:relative;
					z-index: 100;
					width: 168px;
					height: 34px;
					border: 1px solid #000;" >
						<option value="yes">Yes</option>
						<option value="no">No</option>
						</select></h3>
				</div>
				
				<input type="submit" name="next" class="register" value="next">
				</div>
			</form>
			
		</div>
		<div>
			{% for message in messages %}
			<h2 style="color: aliceblue;">{{message}}</h2>
			{% endfor %}
		</div>  
	</div>
	
</body>
{% endblock %}