{% extends 'calportal/base.html' %}

{% block content %}

<a href="{% url 'cal:Datacreate' %}"><button type="button" class="btn btn-success">ADD NEW PERSON</button></a>

<table>
    <tr>
        <th>NAME</th>
        <th>JOB SECTOR</th>
        <th>PHONE</th>
        <th>PANCHAYAT</th>
        <th>REG. STATUS</th>
        <th>RADIO STATUS</th>
    </tr>
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    
    <!-- Display Objects -->
   <tr>
        <td><a href="{{object.get_absolute_url}}">{{ object.name }}</a></td>
        <td>{{ object.jobsector }}</td>
        <td>{{ object.phone }}</td>
        <td>{{ object.panchayat }}</td>
        <td>{{ object.reg_status }}</td>
        <td>{{ object.pr_status}}</td>
    </tr>

  
    <!-- If objet_list is empty  -->
    {% empty %}
    <li>No entries yet, please add new entry</li>
    {% endfor %}
{% endblock %}