{% extends 'calportal/base.html' %}

{% block content %}

<a href="{% url 'cal:Datacreate' %}"><button type="button" class="btn btn-success">ADD NEW PERSON</button></a>
<div class="table-responsive-xxl">
<table class="table">
    <thead class="table-dark">
    <tr>
        <!-- <th>SL NO.</th> -->
        <th>NAME</th>
        <th>JOB_SECTOR</th>
        <th>LOCATION</th>
        <th>REG_STATUS</th>
    </tr>
    </thead>
    <!-- Iterate over object_list -->
    {% for object in object_list %}

    <!-- Display Objects -->
   <tbody>
    <tr>
        
        <td><a href="{{object.get_absolute_url}}">{{ object.name }}</a></td>
        <td>{{ object.jobsector }}</td>
        <td>{{ object.panchayat }}</td>
        <td>{{ object.reg_status }}</td>
    </tr>
    </tbody>
    


  
    <!-- If objet_list is empty  -->
    {% empty %}
    <li>No entries yet, please add new entry</li>
    {% endfor %}
</table>
</div>
{% endblock %}