{% extends 'professional/base.html' %}

{% block content %}
<table>
  <form action={% url 'pro:log' %} method="post">
    {% csrf_token %}
    <div class="form-floating mb-3">
      <input type="text" name='username' class="form-control" id="floatingInput" placeholder="user_name">
      <label for="floatingInput">User Name</label>
    </div>
    <div class="form-floating">
      <input type="password" name='password' class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
   
  </table>
    <button type="submit" name='save' class="btn btn-success">Log In</button>
    <a href="{% url 'pro:signup' %}"><button type="button" class="btn btn-success">New Account</button></a>
  </form>
  <div>
    {% for message in messages %}
    <h3 style="color: black;">{{message}}</h3>
    {% endfor %}
  </div>  
{% endblock %}