{% extends 'professional/base.html' %}

{% block content %}

    <form action="{% url 'pro:signup' %}" method="post">
    {% csrf_token %}
    <div class="form-floating mb-3">
    <input type="number" name="username" placeholder="phone_number" required></div>
    <div class="form-floating mb-3">
    <input type="password" name="password" placeholder="password" required></div>

    <button type="submit" class="btn btn-success">Sign Up</button>
    <a href="{% url 'pro:log' %}"><button type="button" class="btn btn-success">Cancel</button></a>
  </form>
  <div>
    {% for message in messages %}
    <h3 style="color: black;">{{message}}</h3>
    {% endfor %}
  </div>  
{% endblock %}