{% extends 'professional/base.html' %}
{% block content %}
{% if spouse_dat %}
<table>
    <div class="table-responsive-xxl">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>SL.No</th>
                <th>DISTRICT</th>
                <th>NAME</th>
                <th>PROFESSION</th>
                <th>PHONE</th>
                <th>LOCATION</th>
            </tr>
            {% for reg in spouse_dat %}
            {% if reg.user.ct != 'married' %}
             <!-- continue -->
            {% else %}
            <tr>
                <td>{{ forloop.counter}}</td>
                <td>{{ reg.district}}</td>
                <td>{{ reg.user.wife.nm}}</td>
                <td>{{ reg.user.wife.pro}}</td>
                <td>{{ reg.user.wife.phone}}</td>
                <td>{{ reg.user.wife.children}}</td>
            </tr>
            {% endif %}
            {% endfor %}
                <!-- <p>{{ forloop.counter}}.{{ reg.district }} &emsp; {{ reg.user.first_name }}  &emsp; {{ reg.user }}  &emsp; {{ reg.user.unitdata.name1 }}</p> -->
</table>
{% endif %}
{% endblock %}