
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{% static 'nunito-font.css' %}">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
</head>
<body class="form-v6">
	<div class="page-content">
		<div class="form-v6-content">
			<div class="form-left">
				<img src="{% static 'images/Proface.png' %} " alt="form">
			</div>
			<form class="form-detail" action="/" method="post">
                {% csrf_token %}
				<h2>Proface Login</h2>
				
				<div class="form-row">
					<input type="text" name="user_name" id="user_name" class="input-text" placeholder="Your Name" required>
				</div>
				<div class="form-row">
					<input type="password" name="password1" id="password1" class="input-text" placeholder="Password" required>
				</div>
				
				    <div class="form-row-last">
					    <input type="submit" name="login" class="register" value="Login">
						<h2>new to proface</h2>
						<a href="{% url 'userspace' %}">
						<button type="button" name='registration_button' class='register'>register</button></a>
				    </div>
                    
			</form>
		</div>
	</div>
</body>
</html>